html {
    font-size: 14px;
    cursor: default;
    height: 100%;
}
body {
    font-family: "Ubuntu", sans-serif;
}

.bg-gray-light {
    background-color: lightgray;
}

#answer #area::after, #answer #perimeter::after {
    content: " м.";
}
